<div class="page-header">
  <%= link_to dependents_path, class: 'btn btn-default waves-effect' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @dependent, class: 'btn btn-primary waves-effect' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing dependent</h1>
</div>

<%= render 'form' %>
