hiddenPreLoader(); 
<% js = escape_javascript(
	render(partial: 'dependents/form')
	) %>

	$("#dependent_content").html("<%= js %>");
	$("#card_header_dependent").html("<h2><i class='zmdi zmdi-account-box-o'></i> Novo <%= Dependent.model_name.human %></h2>")

	