<div class="page-header">
  <%= link_to dependents_path, class: 'btn btn-default waves-effect' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New dependent</h1>
</div>

<%= render 'form' %>
