<div class="modal fade" id="modal_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="card_header_payment"></div>     
            </div>

            <div class="modal-body">
                <%= preloader %>
                <div id="payment_content">
                </div>
            </div>
        </div>
    </div>
</div>