<% js = escape_javascript(
  render(partial: 'subcategories/remote_form')
) %>

$("#subcategory_content").html("<%= js %>");
$("#card_header_subcategory").html("<h2><i class='zmdi zmdi-account-box-o'></i> Novo <%= Subcategory.model_name.human %></h2>")

hiddenPreLoader(); 