<div class="modal fade" id="people_associated_generate_file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Selecione um associado!</h4>  
      </div>

      <div class="modal-body">
       <%= preloader %>
       <div id="pa_generate_file">
       </div>
     </div>
   </div>
 </div>
</div>