<!--TOPO-->
<div class="yes-print">
	<div style="display: table; font-family: Arial; width: 100%;">
		<div style="display: table-cell; vertical-align: top;">
			<h2 style="font-size: 17px;">SINDICATO DOS SERVIDORES PÚBLICOS MUNICIPAIS DE SORRISO</h2>
			<div style="border-bottom: 1px solid #000; height: 75px; margin-bottom: 15px;">
				<img src="/assets/logo_in_dash.jpeg" style="border: 1px solid #000;width: 45px;float: left;">
				<div style="display: table; font-size: 13px;">
					<div style="display: table-cell; padding: 0 15px; ">
						<span style="display: block;"><b>Endereço:</b> AVENIDA RIO GRANDE DO SUL, 259</span>
						<span style="display: block;"><b>Cidade:</b> SORRISO</span>
						<span style="display: block;"><b>CNPJ:</b> 00.904.255/0001-89</span>
						<span style="display: block;"><b>Telefone:</b> (66) 3544-6575</span>
					</div>
					<div style="display: table-cell;">
						<span style="display: block;"><b>Bairro:</b> BEIJAMIM RAISER</span>
						<span style="display: block;"><b>UF:</b> MT</span>
						<span style="display: block;"><b>Data de Fundação:</b> 23/07/1995</span>
						<span style="display: block;"><b>Celular:</b> (66) 9 9985-6840</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>