<% js = escape_javascript(
render(partial: 'segments/remote_form')
) %>

$("#segment_content").html("<%= js %>");
$("#card_header_segment").html("<h2><i class='zmdi zmdi-account-box-o'></i> Novo <%= Segment.model_name.human %></h2>")

hiddenPreLoader(); 