

<!-- Modal Default -->
<div class="modal fade" id="modal_inventory_movements" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><div id="card_header_dependent"></div></h4>
      </div>
      <div class="modal-body">
       <%= preloader %>
       <div id="inventory_movements_content">
       </div>

     </div>
   </div>
 </div>
</div>