<div class="modal fade" id="modal_new_financial_account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div id="card_header_financial_account"></div>     
      </div>

      <div class="modal-body">
       <%= preloader %>
       <div id="financial_account_content">
       </div>
     </div>
   </div>
 </div>
</div>