<div class="page-header">
  <%= link_to financial_accounts_path, class: 'btn btn-default waves-effect' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_financial_account_path(@financial_account), class: 'btn btn-primary waves-effect' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show financial_account</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @financial_account.name %></dd>

  <dt>Status:</dt>
  <dd><%= @financial_account.status %></dd>

</dl>
