<div class="modal fade" id="modal_new_effort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div id="card_header_effort"></div>     
      </div>

      <div class="modal-body">
       <%= preloader %>
       <div id="effort_content">
       </div>
     </div>
   </div>
 </div>
</div>