<% js = escape_javascript(
  render(partial: 'efforts/remote_form')
) %>

$("#effort_content").html("<%= js %>");
$("#card_header_effort").html("<h2><i class='zmdi zmdi-account-box-o'></i> Nova <%= Effort.model_name.human %></h2>")

hiddenPreLoader(); 