<% @customer_configuration = CustomerConfiguration.current %>



<div class="card">
  <div class="action-header clearfix">        
    <div class="ah-label hidden-xs"><h1> <%= "" %> </h1></div>   
    
  </div>


  <div class="card-body"> 
    <div class="table-responsive">
      <% if @bills_pays %>
        <%= render( partial: 'reports/list_bills_pays_print', locals: { bills_pays: @bills_pays } )  %>
      <% else %>  
        <p> Sem resultados </p>
      <% end %>
    </div>                       
  </div>
</div>


