<div class="card">
  <div class="action-header clearfix">
    <div class="ah-label hidden-xs">  <h1> Relatório de <%= "Aniversariantes" %> </h1> </div>            
</div>


  <div class="card-body"> 
    <div class="table-responsive">
      <% if @birthdays %>
        <%= render( partial: 'reports/list_birthdays', locals: { birthdays: @birthdays }  )  %>
      <% else %>  
        <p> Sem resultados </p>
      <% end %>
    </div>                       
  </div>
</div>


